<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% stylesheets filter='cssrewrite'
            'bundles/enjoymain/css/bootstrap.css'
            'bundles/enjoymain/css/stylesheet.css'
        %}
        <link rel="stylesheet" type="text/css" media="screen" href="{{ asset_url }}" />
        {% endstylesheets %}
        {% block stylesheets %}

        {% endblock %}
        {% javascripts
            'bundles/enjoymain/js/jquery.js'
            'bundles/enjoymain/js/bootstrap.js'

        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

    </body>
</html>
